fileTypes: [
  "gendsp"
  "genexpr"
]
foldingStartMarker: '''
  (?x)
  		 /\\*\\*(?!\\*)
  		|^(?![^{]*?//|[^{]*?/\\*(?!.*?\\*/.*?\\{)).*?\\{\\s*($|//|/\\*(?!.*?\\*/.*\\S))\\b
  	
'''
foldingStopMarker: "(?<!\\*)\\*\\*/|^\\s*\\}\\b"
name: "GenExpr"
patterns: [
  {
    include: "source.c"
  }
  {
    captures:
      "1":
        name: "support.constant.genexpr"
    match: "\\b(in|out|in1|in2|in3|in4|in5|in6|in7|in8|in9|out1|out2|out3|out4|out5|out6|out7|out8|out9|in10|in11|in12|in13|in14|in15|in16|in17|in18|in19|out10|out11|out12|out13|out14|out15|out16|out17|out18|out19|constant|degtorad|DEGTORAD|e|E|f|fftfullspect|FFTFULLSPECT|ffthop|FFTHOP|fftoffset|FFTOFFSET|fftsize|FFTSIZE|float|halfpi|HALFPI|i|int|invpi|INVPI|ln10|LN10|ln2|LN2|log10e|LOG10E|log2e|LOG2E|pi|PI|radtodeg|RADTODEG|samplerate|SAMPLERATE|sqrt1_2|SQRT1_2|sqrt2|SQRT2|twopi|TWOPI|vectorsize|VECTORSIZE)\\b"
  }
  {
    captures:
      "1":
        name: "support.class.genexpr"
    match: "\\b(Buffer|channels|cycle|Data|dim|lookup|nearest|peek|poke|sample|splat|wave|atodb|dbtoa|ftom|mstosamps|mtof|sampstoms|fixdenorm|fixnan|isdenorm|isnan|Delay|History|fftinfo|change|dcblock|delta|interp|latch|phasewrap|sah|\\*=|mulequals|\\+=|accum|plusequals|counter|phasor|rate|train|triangle)\\b"
  }
]
scopeName: "source.genexpr"
